<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/index.js" type="text/javascript"></script>
        <title>lecturus</title>
    </head>
    <body >
        <h1> <%=title %> </h1>
       
        <ul>
            <li> <a href="/users"> press here for users api </a> </li>
            <li> <a href="/session"> press here for session api </a> </li>
        </ul>
        <script>
            console.log('shenkar lecturus api')
        </script>
    </body>
</html>