<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
  <script src="js/index.js" type="text/javascript"></script>
  <title>lecturus</title>
</head>
<body >
  <h1> <%=title %> </h1>
  <p> var user = {"email":"user_email"} </p>
  <section>
    <article>
      POST method registerUser recieve data:JSON.stringify({"email":"userid"})<br>
      if error occured return status 0<br>
      if user register return status 1 <br>
      if user exist return status 2 <br>
      return {"uid":"","status":0-2,"desc":""}
    </article>
    <article>
      $.post("/users/registerUser", { data : JSON.stringify (user) }, <br>
      function(temp) { <br>
      console.log("registerUsers: "+(temp))<br>
    });
  </article>
</section>
<br><br>
<section>
  <article>
      POST method getUser by id recieve {data:userid} <br>
      if fail return {status:0}<br>
      if success return user row
    </article>
    <article>
      $.post("/users/getUser", { data : "useremail" },<br>
      function(temp) {<br>
      console.log("getUser: ", (temp) )<br>
    });
  </article>
</section>
<br><br>
<section>
 <article>
    POST method updateUser by id recieve data:JSON.stringify({"email":"userid",...}) and can combines with user params<br>
    fail return {status:0}<br>
    success return {status:1}
  </article>
  <article>
    $.post("/users/updateUser", { data : JSON.stringify(user) },<br>
    function(temp) {<br>
    console.log("updateUser: ", (temp) )<br>
  });
  </article>
</section>
<br><br>
<section>
 <article>
    GET method getCourses recieve user email<br>
    fail return {status:0}<br>
    success return {status:1 , courses:{ }}
  </article>
  <article>
    $.post("/users/getCourses/?email='useremail'",<br>
    function(temp) {<br>
    console.log("courses: ", (temp) )<br>
  });
  </article>
</section>
<br><br>
<section>
 <article>
    GET method getCourseVideos recieve user email and course name<br>
    fail return {status:0}<br>
    success return {status:1 , videos:{ }}
  </article>
  <article>
    $.post("/users/getCourseVideos/?email='useremail'&courseName='coursename'",<br>
    function(temp) {<br>
    console.log("videos: ", (temp) )<br>
  });
  </article>
</section>
</body>
</html>